@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300&display=swap");
.AlphabetSearch-module_alphabetSearch__7PY3H .AlphabetSearch-module_lettersContainer__o1pBK {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}
.AlphabetSearch-module_alphabetSearch__7PY3H .AlphabetSearch-module_lettersContainer__o1pBK .AlphabetSearch-module_letter__vMM8U, .AlphabetSearch-module_alphabetSearch__7PY3H .AlphabetSearch-module_lettersContainer__o1pBK .AlphabetSearch-module_letter_selected__u1vU7 {
  background-color: #f5f6f6;
  min-width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  color: #061125;
}
.AlphabetSearch-module_alphabetSearch__7PY3H .AlphabetSearch-module_lettersContainer__o1pBK .AlphabetSearch-module_letter__vMM8U:hover, .AlphabetSearch-module_alphabetSearch__7PY3H .AlphabetSearch-module_lettersContainer__o1pBK .AlphabetSearch-module_letter_selected__u1vU7:hover {
  background-color: #d4f6c4;
  color: #1eb600;
}
@media only screen and (max-width : 719px) {
  .AlphabetSearch-module_alphabetSearch__7PY3H .AlphabetSearch-module_lettersContainer__o1pBK .AlphabetSearch-module_letter__vMM8U, .AlphabetSearch-module_alphabetSearch__7PY3H .AlphabetSearch-module_lettersContainer__o1pBK .AlphabetSearch-module_letter_selected__u1vU7 {
    min-width: 36px;
    height: 36px;
  }
}
.AlphabetSearch-module_alphabetSearch__7PY3H .AlphabetSearch-module_lettersContainer__o1pBK .AlphabetSearch-module_letter_selected__u1vU7 {
  background-color: #d4f6c4;
  color: #1eb600;
}