@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300&display=swap");
.FavoriteButton-module_fav__QOFNp {
  position: relative;
  height: 17px;
}
.FavoriteButton-module_fav__QOFNp .FavoriteButton-module_favBtn__BKOtJ {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 17px;
}
.FavoriteButton-module_fav__QOFNp .FavoriteButton-module_favBtn__BKOtJ .FavoriteButton-module_hollowStar__-JabS:hover {
  filter: invert(46%) sepia(66%) saturate(2308%) hue-rotate(77deg) brightness(101%) contrast(101%);
}

.FavoriteButton-module_signInPopup__hNg17 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  padding: 10px;
  min-width: 90px;
  left: 20px;
  top: -6px;
  z-index: 25;
}
.FavoriteButton-module_signInPopup__hNg17 a {
  color: inherit;
  text-decoration: none;
}
.FavoriteButton-module_signInPopup__hNg17 a:hover {
  text-decoration: underline;
}
.FavoriteButton-module_signInPopup__hNg17 .FavoriteButton-module_signIn__pCm6x {
  color: white;
  font-weight: bold;
  border-right: 1.5px solid white;
  z-index: 1;
  font-size: 12px;
  white-space: nowrap;
  padding-right: 6px;
}
.FavoriteButton-module_signInPopup__hNg17 .FavoriteButton-module_signUp__RbWmK {
  color: #57dc1c;
  font-weight: bold;
  font-size: 12px;
  z-index: 1;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 6px;
  text-align: left;
}

.FavoriteButton-module_backDrop__drIaj {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 24;
}
@media only screen and (max-width : 479px) {
  .FavoriteButton-module_backDrop__drIaj {
    background: rgba(37, 36, 36, 0.3137254902);
  }
}