.ThemeImage-module_themeImage__mmLe2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThemeImage-module_themeImage__mmLe2 img {
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1px;
}