@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300&display=swap");
.OddsButton-module_oddsButton__LODqi, .OddsButton-module_oddsButton_withLogo__VfgLD {
  font-family: "Lato", "Arial", "Helvetica", "sans-serif";
  font-size: 12px;
  color: #20242e;
  background: linear-gradient(rgba(35, 99, 174, 0.0001) 0%, rgba(153, 157, 164, 0.17) 100%);
  border: 1px solid #eaeae9;
  border-radius: 5px;
  cursor: pointer;
  gap: 4px;
  height: 32px;
  min-width: 59px;
}
.OddsButton-module_oddsButton_withLogo__VfgLD {
  min-width: 76px;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 5px 0 3px;
}
.OddsButton-module_oddsButton__LODqi:hover, .OddsButton-module_oddsButton_withLogo__VfgLD:hover {
  background-color: #d4f6c4;
  border-color: #57dc1c;
}
.OddsButton-module_oddsButton__LODqi .OddsButton-module_bookmakerLogo__PgNO-, .OddsButton-module_oddsButton_withLogo__VfgLD .OddsButton-module_bookmakerLogo__PgNO- {
  height: 24px;
  width: 24px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
}
.OddsButton-module_oddsButton__LODqi .OddsButton-module_oddsText__WD5Dv, .OddsButton-module_oddsButton_withLogo__VfgLD .OddsButton-module_oddsText__WD5Dv {
  font-weight: bolder;
  margin: auto;
  font-size: 13px;
}

.OddsButton-module_disabled__4LS6u, .OddsButton-module_disabled_withLogo__zfd6r {
  font-family: "Lato", "Arial", "Helvetica", "sans-serif";
  font-size: 12px;
  color: #20242e;
  background: linear-gradient(rgba(35, 99, 174, 0) 0%, rgba(153, 157, 164, 0.1) 100%);
  border: solid 1px rgba(230, 231, 233, 0.5019607843);
  border-radius: 5px;
  cursor: pointer;
  gap: 4px;
  height: 32px;
  min-width: 59px;
}
.OddsButton-module_disabled_withLogo__zfd6r {
  min-width: 76px;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 5px 0 3px;
}
.OddsButton-module_disabled__4LS6u .OddsButton-module_bookmakerLogo__PgNO-, .OddsButton-module_disabled_withLogo__zfd6r .OddsButton-module_bookmakerLogo__PgNO- {
  height: 24px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
}
.OddsButton-module_disabled__4LS6u .OddsButton-module_oddsText__WD5Dv, .OddsButton-module_disabled_withLogo__zfd6r .OddsButton-module_oddsText__WD5Dv {
  color: rgba(32, 36, 46, 0.4392156863);
  font-weight: bolder;
  margin: auto;
  font-size: 13px;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300&display=swap");
.SlidingSwitch-module_slidingSwitch__394pN {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SlidingSwitch-module_slidingSwitch__394pN * {
  box-sizing: content-box;
  border-collapse: separate;
}
.SlidingSwitch-module_slidingSwitch__394pN input[type=checkbox] {
  display: none;
}
.SlidingSwitch-module_slidingSwitch__394pN .SlidingSwitch-module_switchLabelOff__AkhzN {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 16px;
  background-color: grey;
  border-radius: 12px;
  padding: 4px;
  transition: background-color 0.2s;
}
.SlidingSwitch-module_slidingSwitch__394pN .SlidingSwitch-module_switchLabelOn__X7JhK {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 16px;
  background-color: rgb(20, 209, 20);
  border-radius: 12px;
  padding: 4px;
  transition: 0.2s;
}
.SlidingSwitch-module_slidingSwitch__394pN .SlidingSwitch-module_switchButtonOff__ndUQE {
  margin-right: auto;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  transition: 0.2s;
  background-color: #fff;
}
.SlidingSwitch-module_slidingSwitch__394pN .SlidingSwitch-module_switchButtonOn__TCvsE {
  content: "";
  margin-left: auto;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  transition: 0.2s;
  background-color: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300&display=swap");
.RotatingChevron-module_rotatingChevron__qGjj9 img {
  filter: brightness(0) saturate(100%) invert(40%) sepia(8%) saturate(870%) hue-rotate(181deg) brightness(92%) contrast(75%);
  background: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.RotatingChevron-module_rotatingChevron__qGjj9 .RotatingChevron-module_chevronDown__4mhZF {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  height: 100%;
}
.RotatingChevron-module_rotatingChevron__qGjj9 .RotatingChevron-module_chevronUp__ZT5Id {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  height: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300&display=swap");
.Chips-module_options__VOEdn {
  font-family: "Lato", "Arial", "Helvetica", "sans-serif";
  font-size: 13px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 8px;
}
.Chips-module_options__VOEdn::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width : 479px) {
  .Chips-module_options__VOEdn {
    padding: 0 3px;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(2%, rgb(0, 0, 0)), color-stop(98%, rgb(0, 0, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  }
}
.Chips-module_options__VOEdn input[type=radio] {
  display: none;
}
.Chips-module_options__VOEdn input[type=radio] + label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
}
.Chips-module_options__VOEdn input[type=radio] + label .Chips-module_optionLabel_enabled__203TI, .Chips-module_options__VOEdn input[type=radio] + label .Chips-module_optionLabel_disabled__1ADEz {
  background-color: #fafafb;
  border-radius: 16px;
  border: 1px solid #eaeae9;
  cursor: pointer;
  display: inline-block;
  padding: 4px 12px;
}
.Chips-module_options__VOEdn input[type=radio] + label .Chips-module_optionLabel_enabled__203TI:hover, .Chips-module_options__VOEdn input[type=radio] + label .Chips-module_optionLabel_disabled__1ADEz:hover {
  background-color: #d4f6c4;
  border: 1px solid #57dc1c;
}
.Chips-module_options__VOEdn input[type=radio] + label .Chips-module_optionLabel_disabled__1ADEz {
  color: #b4b7bd;
  cursor: default;
}
.Chips-module_options__VOEdn input[type=radio] + label .Chips-module_optionLabel_disabled__1ADEz:hover {
  background-color: #fafafb;
  border: 1px solid #eaeae9;
}
.Chips-module_options__VOEdn input[type=radio]:checked + label div {
  background-color: #57dc1c;
  border: 1px solid #57dc1c;
  color: white;
  cursor: default;
}
.Chips-module_options__VOEdn input[type=radio]:checked + label div:hover {
  background-color: #57dc1c;
}

.Chips-module_buttonDisabled__8uxoL {
  background-color: gray;
}

.Chips-module_buttonEnabled__4ukbK {
  color: gray;
}